<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
<head>
    <title>Todos os Processos</title>
</head>
<body>
<section>
    <h1>Processos do Colegiado</h1>
    <div>
        <table>
            <thead>
                <tr><th>ID</th><th>Assunto</th><th>Descrição</th><th>Autor</th></tr>
            </thead>
            <tbody>
                <tr th:each="case : ${cases}">
                    <td th:text="${case.id}">1</td>
                    <td th:text="${case.subject}">Assunto</td>
                    <td th:text="${case.description}">Descrição</td>
                    <td th:text="${case.authorId}">Autor</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
