<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header class="bg-gray-800 text-white" th:fragment="header">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
            <div class="flex items-center">
                <i class="fas fa-rocket text-3xl text-indigo-400 mr-3"></i>
                <h1 class="text-2xl font-bold">Veritas</h1>
            </div>

            <!-- Importação de nav-bar -->
            <nav th:insert="~{fragments/navigation :: navigation(${activePage})}"></nav>

        </div>
    </header>
</body>
</html>
